@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    background: black;

}

h1, h2 {
    font-family: 'Poppins', sans-serif;
}

h3{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    margin-left: 210px;
}

a {
    text-decoration: none;
    color:rgb(170, 58, 77);
}

p {
    text-align: justify;
    margin-right: 100px;
    padding-bottom: 100px;
    padding-top: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    color: white;
}

hr {
    width: 30%;
}


.background {
    display: grid;
    grid-template-columns: repeat(10, auto);
}

.background-div {
    background:rgb(20, 20, 20);
    height: 130vh;
    transition: background-color 1s;
}

.nav {
    opacity: 0;
}

.nav-links {
    position: fixed;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 5vw;
    height: 100vh;
    background:rgb(18, 18, 18);
}

.initials {
    color:rgb(170, 58, 77);
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
}

.nav li {
    display: block;
    text-align: center;
}

.nav i {
    font-size: 130%;
    padding-bottom: 20px;
    transition: .5s ease;
    z-index: 2;
}

.nav h5 {
    font-size: 15px;
    opacity: 0;
}

.links {
    margin-right: 40px;
}

.links {
    list-style: none;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    opacity: 0;
}

.title {
    width: 100%;
    top: 40%;
    left: 250px;
    transition: 1s ease;
    position: absolute;
    z-index: 2;
    opacity: 0;
    font-size: 25px;
}

.title span {
    color: rgb(170, 58, 77) 
}

.subtitle {
    width: 100%;
    top: 50%;
    left: 250px;
    transition: 1s ease;
    position: absolute;
    z-index: 2;
    opacity: 0;
    padding-right: 40px;
    font-size: 20px;
}

.content div {
    margin-bottom: 600px;
    text-align: center;
}

.content h3 {
    text-align: justify;
    font-size: 40px;
}

.content p {
    width: 80%;
    margin: auto;
}

.about-title, 
.portfolio-title, 
.cv-title, 
.contact-title {
    padding-bottom: 10px;
    opacity: 0;
}

.about-text, 
.portfolio-text,
.cv-text, 
.contact-text{
    opacity: 0;
    margin-bottom: 0;
}

.about-text a {
    transition: .2s ease;
}

.content a:hover {
    transition: .2s ease;
    color: seagreen;
}

.selfie {
    float: right;
    margin-left: 80px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: 0;
    opacity: 0;
    width: 300px;
    border-radius: 20%;
}

.projects {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
}

.projects div {
    margin-bottom: 25px;
}

.project a {
    z-index: 1;
}

.project {
    background: rgb(170, 58, 77);
    text-align: justify;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    opacity: 0;
    cursor: pointer;
    overflow: hidden;
}

.project h4 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 25px;
    text-align: justify;
}

.project p {
    width: 100%;
    margin-left: 0;
    font-size: 16px;
}

.cv-image {
    opacity: 0;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.cv-image img {
    border-radius: 10px;
    padding-bottom: 20px;
}

.cv-image a {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.contact {
    margin-bottom: 75px !important;
}

.mailto {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px !important;
    overflow: hidden;
}

.submit-btn {
    background: none;
    outline: none;
    border: 1px solid rgb(114, 39, 51);
    color: white;
    padding: 30px;
    font-size: 17px;
    transition: .7s ease;
    font-family: 'Lato', sans-serif;
    opacity: 0;
}

.submit-btn:hover {
    background: seagreen;
    border: 1px solid seagreen;
    transform: scale(1.15);
    transition: .3s ease;
    cursor: pointer;
}

.socials {
    margin-bottom: 250px !important;
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
    margin: auto;

}

.socials a {
    font-size: 40px;
}

.github {
    transition: .2s ease;
}

.github:hover {
    color: white !important;
    transition: .2s ease;
    transform: scale(1.25);
}

.linkedin {
    transition: .2s ease;
}

.linkedin:hover {
    color: rgb(0, 60, 255) !important;
    transition: .2s ease;
    transform: scale(1.25);
}

.insta {
    transition: .2s ease;
}

.insta:hover {
    color: rgb(114, 39, 51) !important;
    transition: .2s ease;
    transform: scale(1.25);
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color:rgb(170, 58, 77);
    margin: 5px;
}

.nav-active {
    transform: translateY(200%);
}

.appear {
    opacity: 1;
    transition: 2s ease;
}

.nav-appear {
    opacity: 1;
    transition: .3s ease;
}

.push-down-appear {
    color: white;
    opacity: 1;
    transition: .75s ease;
    transform: translateY(20px);
}

.slide-in {
    color: white;
    opacity: 1;
    transition: 1s ease;
    transform: translateX(20px);
}

.slide-in-alt {
    color: white;
    opacity: 1;
    transition: .75s ease;
    transform: translateX(-60px);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background:rgb(29, 29, 29);

}

::-webkit-scrollbar-thumb:hover {
    background:rgb(114, 39, 51);

}

@media screen and (max-width: 400px){
    .nav h5 {
        font-size: 8px !important;
    }
    .title,
    .subtitle{
        margin-left: 30px !important;
    }

    .link,
    .content {
        margin-left: 80px !important;

    }
}

@media screen and (max-width: 900px){
    html, body{
        overflow-x: hidden;
    }
    
    h3{
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 22px;
        margin-left: 0px;
        display: flex;
        justify-content: center;
    }

    .projects h4 {
        font-size: 20px;
    }

    p {
        text-align: justify;
        padding-bottom: 100px;
        padding-top: 20px;
        font-size: 18px;
    }

    .nav {
        width: 100vh;
    }

    .nav-links {
        width: 100%;
        z-index: 1;
        flex-direction: row;
        height: 5%;
        z-index: 2;    
    }

    .nav i {
        display: none;
    }

    .nav h5 {
        opacity: 1;
        font-size: 70%;
        padding: 20px;
    }

    .title {
        left: 20px;
        text-align: center;
        font-size: 15px;
        z-index: 0;
    }

    .title h1 {
        margin-right: 30px;
    }

    .subtitle h2 {
        margin-right: 100px;
    }

    .subtitle {
        left: 30px;
        margin-top: 40px;
        text-align: center;
        font-size: 12px;
        z-index: 0;
    }

    .link {
        margin-left: 60px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        font-size: 12px;
        z-index: 0;
    }

    .content {
        text-align: center;
    }

    .content h3 {
        font-size: 25px;
    }

    .content p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 60px;
    }


    .projects {
        display: flex;
        flex-direction: column;
    }

    .project {
        width: 70%;
        margin-right: 40px;
        overflow: hidden;
    }

    .cv-image {
        width: 100%;
    }

    .cv-image img {
        margin-right: 40px;
        width: 80%;
    }

    .cv-image a {
        font-size: 12px;
    }

    .socials {
        width: 80%;
        margin-bottom: 50px !important;
    }
}