@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: black;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
}

h3{
    color: white;
    margin-left: 250px;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}

a {
    text-decoration: none;
    color:rgb(170, 58, 77);
}

p {
    text-align: justify;
    margin-left: 250px;
    margin-right: 100px;
    padding-bottom: 100px;
    padding-top: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    color: white;
}

hr {
    width: 30%;
}


.background {
    display: grid;
    grid-template-columns: repeat(10, auto);
}

.background-div {
    background:rgb(20, 20, 20);
    height: 130vh;
    transition: background-color 1s;
}

.nav {
    opacity: 0;
}

.nav ul {
    position: fixed;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 120px;
    height: 100%;
    background:rgb(18, 18, 18);
}

.nav li {
    display: block;
    text-align: center;
}

.nav i {
    font-size: 130%;
    padding-bottom: 20px;
    transition: .5s ease;
}

.nav i:hover {
    transition: .2s ease;
    transform: scale(1.25);
}

.nav h5 {
    font-size: 15px;
    opacity: 0;
}

.links {
    margin-right: 40px;
}

.links {
    list-style: none;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    opacity: 0;
}

.title {
    width: 100%;
    top: 40%;
    left: 250px;
    transition: 1s ease;
    position: absolute;
    z-index: 2;
    opacity: 0;
    font-size: 25px;
}

.title span {
    color: rgb(170, 58, 77) 
}

.subtitle {
    width: 100%;
    top: 50%;
    left: 250px;
    transition: 1s ease;
    position: absolute;
    z-index: 2;
    opacity: 0;
    padding-right: 40px;
    font-size: 20px;
}

.content div {
    margin-bottom: 600px;
}

.content h3 {
    margin-left: 250px;
}

.content p {
    margin-left: 230px;
}

.about-title, 
.portfolio-title {
    padding-bottom: 10px;
    opacity: 0;
}

.about-text, 
.portfolio-text {
    opacity: 0;
    margin-bottom: 0;
}

.about-text a {
    transition: .2s ease;
}

.content a:hover {
    transition: .2s ease;
    color: seagreen;
}

.selfie {
    width: 300px;
    float: right;
    margin-left: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: 0;
    border-radius: 10px;
    opacity: 0;
}
.projects {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
}

.projects div {
    margin-bottom: 25px;
}

.project a {
    z-index: 1;
}

.project {
    background: rgb(170, 58, 77);
    text-align: justify;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    opacity: 0;
    cursor: pointer;
}

.project h4 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 25px;
}

.project p {
    width: 100%;
    margin-left: 0;
    font-size: 16px;
}

.appear {
    opacity: 1;
    transition: 2s ease;
}

.nav-appear {
    opacity: 1;
    transition: .3s ease;
}

.push-down-appear {
    color: white;
    opacity: 1;
    transition: .75s ease;
    transform: translateY(20px);
}

.slide-in {
    color: white;
    opacity: 1;
    transition: 1.5s ease;
    transform: translateX(20px);
}

.slide-in-alt {
    color: white;
    opacity: 1;
    transition: 1.5s ease;
    transform: translateX(-20px);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background:rgb(29, 29, 29);

}

::-webkit-scrollbar-thumb:hover {
    background:rgb(114, 39, 51);

}